#packeges
node_modules

#app build
dist

#env
*.env
!template.env

#database
data

#MacOS
.DS_Store

#IDE
.idea

#Coverage Tests
coverage

#OrmConfig file
ormconfig.json
updateOrmConfig.js
*.js

#Graphql Generated Schema object
schema.gpl
